.admin_sidebar_start_with_link{
    /* border: 1px solid red; */
    margin-left: 20px;
}
.admin_sidebar_start_with_link>h1{
    color: rgb(61,89,98);
}
.admin_sidebar_start_with_link button{
    width: 50%;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(61,89,98);
    border: 0;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    
}

.admin_sidebar_start_with_link link{
    text-decoration: none;
}


/* responsive */
@media only screen and (min-width:320px) and (max-width:480px){
    
    
       } 

      
 @media only screen and (min-width:481px) and (max-width:890px){
    
    
       }


@media only screen and (min-width:890px) and (max-width:1115px){
    .admin_sidebar_start_with_link button{
        width: 70%;
        
    }
} 

