.admin_dashboard_side_start{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    /* border: 1px solid red; */
    height: 500px;
    width: 100%;
}

/* .admin_dashboard_sidebar_section{
    border: 1px solid blue;
} */
/* .doughnat_chart_admin_dashboard{
    margin-top: 30px;
} */
.doughnat_chart_admin_dashboard img{
    width: 80%;
}

