.main_container {
    /* border: 2px solid; */
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.prod_container {
    /* border: 1px solid; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.single_prod {
    /* border: 1px solid; */
    padding: 5px;
}

.sidebar {
    border: 1px solid;
    flex: 1;
}