#sorting_filtering {
    border: 1px solid;
    width: 30%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.add_to_cart_button {
    width: "150px";
    background-color: rgb(63, 63, 63);
    color: black;
}

.add_to_cart_button:hover {
    transform: scale(1.05);
    color: rgb(3, 28, 255);
}

.filter_container {
    /* border: 1px solid; */
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#sort_div {
    /* border: 1px solid; */
    width: 30%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

#category_div {
    border-left: 1px solid;
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.category_container {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
}

#cat_title {
    font-size: 14px;
    /* font-weight: 500; */
    opacity: 0.8;
}

/* mobile: 0-320, next: 321-760 */

@media (min-width: 430px) and (max-width: 770px) {
    .filter_container {
        display: flex;
        flex-direction: column;
    }

    #sort_div {
        /* border: 1px solid; */
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 1rem;
        /* letter-spacing: 1px; */
    }

    #category_div {
        border-top: 1px solid;
        border-left: none;
        /* flex: 1; */
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px;
    }
}

@media (min-width: 130px) and (max-width: 420px) {
    .filter_container {
        display: flex;
        flex-direction: column;
    }

    #sort_div {
        /* border: 1px solid; */
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }

    #category_div {
        border-top: 1px solid;
        border-left: none;
        /* flex: 1; */
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        /* letter-spacing: 1px; */
        padding: 5px;
    }

    .more_about_fiction_book {
        font-size: 13px;
    }

    .more_about_fiction_book>p {
        font-size: 10px;
    }

    .more_about_fiction_book>div>ul>li {
        font-size: 10px;
    }
}